@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~react-toastify/dist/ReactToastify.css';

// @import "theme.scss";
// @import "nprogress.scss";

html,
body {
  width: 100vw;
  height: 100vh;
  // background: url("../images/jpg/background-image.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  z-index: -1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(235, 235, 235);
  font-family: 'Montserrat', sans-serif !important;
}

// .rootBackdrop{
//   position: fixed;
//   z-index:-1;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   background: url("../images/jpg/backgorund-image.jpg");
//   background-repeat: no-repeat;
//   opacity: 0.5;
// }

.btn-primary{
  @apply border-2 border-primary px-6 py-2 font-semibold bg-primary rounded-lg text-white
}

.btn-primary-outline{
  @apply px-6 py-2 font-semibold border-2 border-primary rounded-lg bg-white text-primary
}

.btn-danger{
  @apply border-2 border-red px-6 py-2 font-semibold bg-red rounded-lg text-white
}

.btn-danger-outline{
  @apply px-6 py-2 font-semibold border-2 border-red rounded-lg bg-white text-red
}

// @layer base {
//     html {
//       @apply text-neutral-800;
//     }
//     html.dark {
//       @apply text-neutral-50;
//       @apply bg-neutral-800;
//     }
// }

.seat-checkbox{
  position: relative;
  input{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
    &:checked ~span,
    &:checked+span{
      border-color: rgb(2, 180, 2) !important;
      color: white !important;
      background-color: rgb(2, 180, 2) !important;
    }

    &:disabled ~ span,
    &:disabled + span{
      color: white !important;
      border-color: gray !important;
      background-color: rgb(128, 127, 127,) !important;
    }
  }
  span{
    border-color: rgb(2, 180, 2);
      color: rgb(2, 180, 2) ;
    border-radius: 5px;
    border-width: 1.5px !important;
    font-weight: 600 !important;

  }
}
